@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <h2>AWS SSM - Parameter Store</h2>
        <br>

        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple solution to retrieve the AWS Parameter Store parameters.</p>
            <hr class="my-4">
            <p>About</p>
            <p>Back :  Amazon.SimpleSystemsManagement for getting Parameters from AWS</p>
            <p>Front : Datatables.net for table data filtering , Jquery UI for autocomplete</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/Parameters" role="button">Try Now</a>
            </p>
        </div>

        <!--<div class="alert alert-primary" role="alert">

    </div>
    <p></p>-->
    </div>