
@{
    ViewData["Title"] = "Index";
}

<h1>AWS SSM Parameter Store</h1>

@* ****************  Search Form*****************  *@
<div class="form-row">
    <div class="col ui-widget">
        <input id="txtName" type="text" class="form-control" placeholder="Name | leave blank for all parameters">
    </div>
    <div class="col">
        <button class="btn btn-primary" type="button" id="btnSubmit">
            <span id="spinner" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Search
        </button><span style="margin:0 2px;"></span>
    </div>
</div>
@* ****************  Search Form*****************  *@
<br>

<p>Use the search box to filter any parameter by name or value</p>

@*OnSubmit respose contents will be appended here*@
<div id="divContent">
</div>


<script data-require="jquery" data-semver="3.0.0" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //Autocomplete function...
        $(function () {
            var availableTags = [

            ];
            $("#txtName").autocomplete({
                source: availableTags
            });
        });


        $("#btnSubmit").click(function () {

            //show loading spinner
            $('#spinner').show();

            //search value
            var pName = $("#txtName").val();

            //ajax post to ParametersController GetParameters method
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetParameters")",
                data: { name: pName},
                //dataType: "text",
                success: function (data) {

                    //display partial view data
                    $("#divContent").html(data);

                    //Datatable initialization
                    $('#mytable').DataTable({
                        "columnDefs": [
                            { "width": "20%", "targets": 0 },
                            { "width": "80%", "targets": 1 }
                        ],
                        "autoWidth": false,
                        "destroy": true, //use for reinitialize datatable
                        "scrollX": true,
                    });

                    //increase search box size
                    $(".dataTables_wrapper .dataTables_filter input").width(500);

                    //hide loading spinner
                    $('#spinner').hide();
                },
                error: function (req, status, error) {
                    console.log(status);
                    console.log(error);
                }
            });
        });
    });
</script>